.redes-lista {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    gap: 10px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: visible; 
    list-style: none;
}

.redes-lista li {
    padding-left: 20px;
    margin-bottom: 10px;
    overflow: visible; 
    display: flex;
    justify-content: center;
}

.redes-lista li::before {
    content: "";
}

.social-media {
    width: 60px;
    transition: all 0.3s ease;
}

.social-media:hover {
    transform: scale(1.2);
}
.email-wrapper {
  position: relative;
  display: inline-block;
}

.email-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.copied-toast {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: #64ffda;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
@media screen and (max-width: 1200px) {
.redes-lista{
 grid-template-columns: repeat(2, minmax(140px, 200px));
 }
}
   
